.tablepress thead th {
	background-color: #ff8800;
	color: #f5f2f2;
	font-size: 16px;
}

.tablepress tfoot th,
.tablepress thead th {
	background-color: #ff8800;
	color: #f5f2f2;
	font-size: 16px;
	vertical-align: middle;
}

caption {
	position: relative;
	top: 15px;
}

.dataTables_info {
	position: relative;
	top: 15px;
}

.tablepress tbody td {
	padding: 15px;
}

label {
	position: relative;
	top: -10px;
	letter-spacing: 0;
}

.dataTables_wrapper label select {
	letter-spacing: 2px;
}

.w3eden .list-group-item > .badge {
	background-color: #f5c890;
}

.w3eden a.list-group-item:hover {
	background-color: #ffe0ba;
}

.tablepress .row-hover tr:hover td {
	background-color: #ffe0ba;
}

.w3eden .table-bordered {
	display: none;
}

.wpdm-download-link.wpdm-download-locked.btn.btn-warning.btn-xs {
	font-size: 13px;
	background-color: #ff8800;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #333 !important;
	border: .5px solid #979797;
	background-color: #fff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#dcdcdc));
	background: -webkit-linear-gradient(top,#fff 0%,#dcdcdc 100%);
	background: -moz-linear-gradient(top,#fff 0%,#dcdcdc 100%);
	background: -ms-linear-gradient(top,#fff 0%,#dcdcdc 100%);
	background: -o-linear-gradient(top,#fff 0%,#dcdcdc 100%);
	background: linear-gradient(to bottom,#fff 0%,#dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	line-height: 1em;
	padding: .5em 1em;
	margin-left: 1px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	color: #333 !important;
	border: 1px solid transparent;
	border-radius: 1px;
	font-size: 14.4px;
	font-style: normal;
	font-weight: normal;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	position: relative;
	top: 1em;
	padding: 6px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	padding: .6em;
}

.column-1 {
	width: 30%;
}

.column-2 {
	width: 10%;
}

.column-3 {
	width: 20%;
}

.column-4 {
	width: 20%;
}

.column-5 {
	width: 20%;
}